.galleryWrap {
    columns: 3;
    column-gap: 15px;
    padding: 20px 0;
    margin: auto;
}

.galleryWrap .contentGallery {
    width: 100%;
    margin-bottom: 25px;
    break-inside: avoid;
    margin-left: 10px;
    max-width: 100%;
    border-radius: 15px;
    transition: 0.7s;
}

.galleryWrap .contentGallery:hover {
    transform: scale(0.9);
    transition: 0.7s;
    cursor: pointer;
}

.border-section {
    position: relative;
}

.border-visi {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 20px;
}

.visi-content {
    padding: 20px;
}

#about {
    padding-top: 100px;
}

#about .container {
    position: relative;
    z-index: 1;
}

/* tablet */
@media (max-width:768px) {
    .galleryWrap {
        columns: 2;
    }

    #about {
        padding-top: 150px;
    }
}

/* phone */
@media (max-width:450px) {
    #about {
        padding-top: 320px;
    }
}
.footer{
    width: 100%;
}
.footer-bs {
    background-color: #3c3d41;
    padding: 60px 40px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 0;
}

.footer-bs .footer-brand h2 {
    margin: 0;
    font-size: 24px; /* Adjust font size as needed */
}

.footer-bs .footer-brand img {
    margin-right: 10px; /* Adjust margin between logo and text */
}
