$primary-color: #FBF8CD;
$secondary-color: #E02424;
$text-color: #454545;
$font-size-base: 16px;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;

.fs-bs-0 {
    font-size: $font-size-md * 0.5;
}

.fs-bs-1 {
    font-size: $font-size-md;
}

.fs-bs-2 {
    font-size: $font-size-md* 2;
}

@media (max-width: 991.98px) {
    .fs-md-0 {
        font-size: $font-size-md * 0.5;
    }

    .fs-md-1 {
        font-size: $font-size-md;
    }

    .fs-md-2 {
        font-size: $font-size-md * 2;
    }

    .fs-md-3 {
        font-size: $font-size-md * 3;
    }
}

@media (max-width: 767.98px) {
    .fs-sm-0 {
        font-size: $font-size-sm * 0.5;
    }

    .fs-sm-1 {
        font-size: $font-size-sm;
    }

    .fs-sm-2 {
        font-size: $font-size-sm * 2;
    }
}

@media (max-width:575.98px) {
    .fs-xs-0 {
        font-size: $font-size-xs * 0.5;
    }

    .fs-xs-1 {
        font-size:  $font-size-xs;
    }

    .fs-xs-2 {
        font-size: $font-size-xs * 2;
    }
}

.card {
    background-color: $primary-color;
    border-radius: 5%;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);

    &-img {
        padding: 5% 10% 0%;
    }
}


@mixin rounded($radius) {
    border-radius: $radius;
}

// Using variables and mixins
.carousel-inner,
.carousel-item img,
.row.carousel {
    @include rounded(30px);
}