@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    color: #454545;

    a {
        color: #454545;
    }

    a:hover {
        color: black;
    }
}

.nav-link {
    color: black;
    /* Warna default */
}

.active {
    color: #E02424 !important;
}

.bg-primary {
    background-color: #FBF8CD !important;
}

body {
    background-color: #FBF8CD;
    overflow-x: hidden;
}

nav-link,
.active {
    color: #E02424 !important;
}

nav-link,
.active::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #E02424;
    margin-left: 6px;
}

.circle {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 0px;
    height: 0px;
    border-radius: 500%;
    z-index: -1;
    box-shadow: 0px 0px 400px 100px rgba(245, 0, 87, 0.5);
}

.card {
    background-color: #FBF3D5;
    border-radius: 5%;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card-img {
    padding: 5% 10% 0%;
}

.galleryWrap {
    columns: 3;
    column-gap: 15px;
    padding: 20px 0;
    margin: auto;
}

.galleryWrap .contentGallery {
    width: 100%;
    margin-bottom: 25px;
    break-inside: avoid;
    margin-left: 10px;
    max-width: 100%;
    border-radius: 15px;
    transition: 0.7s;
}

.galleryWrap .contentGallery:hover {
    transform: scale(0.9);
    transition: 0.7s;
    cursor: pointer;
}

.border-section {
    position: relative;
}

.border-visi {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 20px;
}

.visi-content {
    padding: 20px;
}

#about .container {
    position: relative;
    z-index: 1;
    /* Ensure content is above the border */
}

/* Home */
.ss {
    background-color: rebeccapurple;
}

.justify {
    text-align: justify;
}

.text-gray {
    color: #454545;
}

.text-logo {
    color: #32498D;
}

#about {
    padding-top: 100px;
}

/* tablet */
@media (max-width:768px) {
    .galleryWrap {
        columns: 2;
    }

    #about {
        padding-top: 180px !important;
    }

    #beranda {
        padding-top: 180px !important;
    }

    #layanan {
        margin-top: 180px !important;
    }

    #lokasi {
        padding-top: 180px !important;
    }

    footer {
        padding-top: 180px !important;
    }
}

/* phone */
@media (max-width:450px) {
    #about {
        padding-top: 320px !important;
    }

    #beranda {
        padding-top: 320px !important;
    }

    #layanan {
        margin-top: 200px !important;
    }

    #lokasi {
        padding-top: 320px !important;
    }

    footer {
        padding-top: 320px !important;

    }
}

.galleryWrap {
    columns: 3;
    column-gap: 15px;
    padding: 20px 0;
    margin: auto;
}

.galleryWrap .contentGallery {
    width: 100%;
    margin-bottom: 25px;
    break-inside: avoid;
    margin-left: 10px;
    max-width: 100%;
    border-radius: 15px;
    transition: 0.7s;
}

.galleryWrap .contentGallery:hover {
    transform: scale(0.9);
    transition: 0.7s;
    cursor: pointer;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

.footer-left h4 {
    color: #fff;
}

.footer-left p {
    color: #ccc;
}

.footer-left h4,
.footer-right h4 {
    font-size: 20px;
}


.footer-right ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin-right: 15px;
}


.footer-right ul li:last-child {
    margin-right: 0;
}

.footer-right ul li a img {
    width: 30px;
}

.footer-right ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-right ul li a:hover {
    color: #fff;
}

.footer-bs {
    background-color: #3c3d41;
    padding: 60px 40px;
    color: rgba(255, 255, 255, 1.00);
    margin-bottom: 0;
}

.footer-bs .footer-brand h2 {
    margin: 0;
    font-size: 24px;
    /* Adjust font size as needed */
}

.footer-bs .footer-brand img {
    margin-right: 10px;
    /* Adjust margin between logo and text */
}